body{
	background-color: grey;
}

h1{
	font-family: Arial;
	text-align: center;
}

#dados{
	font-family: Arial;
}

#dados h3{
	text-align: center;
}

.idi{
	margin-right: 20px;
}

#botoes input{
	 display:inline;
   text-align: center;
   float: left;
    margin: auto;
}

form .tabela { 
	width:115%; 
}
form .tabela .tab{
 position:relative;
 float:right;
 width:200px; 
}
input{
 border-color: black;
	float: right;
	margin-right: 980px;
}
.estilo {
 	width: 320px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0; 
}