body{
    background: #B0C4DE
}

h1{
	font-family: Arial;
	text-align: center;
}
#dado{
    border: 6px solid #000000;
width: 330px;
}
#adi{
    border: 6px solid #000000;
width: 330px;
}
#rp{
     border: 6px solid #000000;
     width: 330px;   
}
#id{
     border: 6px solid #000000;
     width: 330px;  
}
#cse{
 border: 6px solid #000000;
     width: 330px;  
}
#dados{
font-family: Arial;
 font-size:19px; 
     color: black;
    text-shadow: 2px -2px 10px black;
}

#dados h3{
    border:solid 1px;
    border-radius:0px 20px 0px 20px;
	text-align: center;
}

.idi{
	margin-right: 20px;
}

form .tabela { 
	width:115%; 
}

form .tabela .tab{
 
 position:relative;
 float:right;
 width:200px; 
 
}

input{
      border-radius:18px;
    -moz-border-radius:7px;
    -webkit-border-radius:4px;
    box-shadow: 60px -16px teal;    
    -moz-box-shadow: 5px 6px 7px #333333;
    -webkit-box-shadow: 5px 5px 7px #333333;
    background: #cccccc; 
    border:2px solid #000000;
    display:list-item;
    height:60px;


}

.estilo {
 	width: 320px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0; 
}

.input_fields_wrap{
max-width: 350px;
}
.input_fields_wrap input[type=text]{
 width:100%;
 margin:2px 0;
}